body {
    background: #ef83dd;
  }
  .playlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .playlist-item input {
    width: 100%;
    margin-right: 10px;
  }